{% extends 'back.html.twig' %}

{% block title %}List Abonnements{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4 text-success">Datatables</h5>
                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th class="text-success">ID</th>
                                        <th class="text-success">Utilisateur</th>
                                        <th class="text-success">DateC</th>
                                        <th class="text-success">DateE</th>
                                        <th class="text-success">Offre</th>
                                        <th class="text-success">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for abonnement in abonnements %}
                                    <tr>
                                        <td class="text-black">{{ abonnement.id }}</td>
                                        <td class="text-black">{{ abonnement.User }}</td>
                                        <td class="text-black">{{ abonnement.dateC|date('Y-m-d') }}</td>
                                        <td class="text-black">{{ abonnement.dateE|date('Y-m-d') }}</td>
                                        <td class="text-black">{{ abonnement.Offre }}</td>
                                        <td>
                                            <button class="btn btn-success"><a href="{{ path('abonnement_edit', {id: abonnement.id}) }}" class="text-white">Edit</a></button>
                                            <button class="btn btn-danger"><a href="{{ path('abonnement_delete', {id: abonnement.id}) }}" class="text-white">Delete</a></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block javascripts %}
    <script>
        // Show popup when page loads if there is a success message
        document.addEventListener('DOMContentLoaded', function() {
            {% if app.session.flashbag.has('success') %}
                alert('{{ app.session.flashbag.get('success')[0] }}');
            {% endif %}
        });
    </script>
{% endblock %}
{% endblock %}