{{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
    <div class="form-group">
    {{ form_label(form.nom,"Nom") }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
    </div>

    <div class="form-group">
    {{ form_label(form.prenom,"Prénom") }}
    {{ form_widget(form.prenom) }}
    {{ form_errors(form.prenom) }}
    </div>

    <div class="form-group">
    {{ form_label(form.specialite,"Spécialité") }}
    {{ form_widget(form.specialite) }}
    {{ form_errors(form.specialite) }}
    </div>

    <div class="form-group">
    {{ form_label(form.email,"Email") }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
