{% extends 'base.html.twig' %}

{% block headerinner %}
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{{ asset('img/PanaceaLogo.png') }}"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-9 col-md-9 col-12">
                        <!-- Main Menu and Buttons -->
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-12">
                                <div class="main-menu">
                                    <nav class="navigation">
                                        <ul class="nav menu">
                                            <li><a href="home">Accueil</a></li>
                                            <li><a href="#"></a></li>
                                            <li><a href="#">Hôpitaux</a></li>
                                            <li><a href="#">Laboratoires</a></li>
                                            <li><a href="#">Pharmacies</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--/ Fin Menu principal -->
                            </div>
                            <div class="col-lg-1 col-6">
                                <div class="get-quote">
                                    <ul>
                                        <!--/ Fin Menu principal -->
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End Main Menu and Buttons -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Inner -->
{% endblock %}

{% block continue %}
    <section class="section profile">
        <!-- Profile Section -->
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <!--    <img src="{{ asset('assets/img/profile-img.jpg') }}" alt="Profile" class="rounded-circle"> -->
                        <h2>{{user.nom}} {{user.prenom}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <a class="nav-link " data-bs-toggle="tab" href="{{ path('profile') }}">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="{{ path('edit_profile', {id: user.id}) }}">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="{{ path('change_password')}}">Change Password</a>
                            </li>
                        </ul>
                </div>
            <div class="col-xl-8">
                <div class="card">
                   <div class="card-body pt-3">
    <!-- Edit Profile Form -->
  <!-- Edit Profile Form -->
<form action="{{ path('change_name') }}" method="post">
    <div class="row mb-3">
        <label for="newName" class="col-md-4 col-lg-3 col-form-label">New Nom</label>
        <div class="col-md-6 col-lg-7">
            <input name="newName" type="text" class="form-control" id="newName" value="{{ user.nom }}">
        </div>
        <div class="col-md-2 col-lg-2">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </div>
</form>
<form action="{{ path('change_prenom') }}" method="post">
    <div class="row mb-3">
        <label for="newName" class="col-md-4 col-lg-3 col-form-label">New Nom</label>
        <div class="col-md-6 col-lg-7">
            <input name="newName" type="text" class="form-control" id="newName" value="{{ user.prenom }}">
        </div>
        <div class="col-md-2 col-lg-2">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </div>
</form>
<form action="{{ path('change_telephone') }}" method="post">
    <div class="row mb-3">
        <label for="newTelephone" class="col-md-4 col-lg-3 col-form-label">New Telephone</label>
        <div class="col-md-6 col-lg-7">
            <input name="newTelephone" type="tel" class="form-control" id="newTelephone" value="{{ user.telephone }}">
        </div>
        <div class="col-md-2 col-lg-2">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </div>
</form>
<!-- End Edit Profile Form -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block dispositives %}
    <!-- Your existing dispositives block content here -->
{% endblock %}

{% block newsletter %}
    <!-- Your existing newsletter block content here -->
{% endblock %}

{% block Appointment %}
    <!-- Your existing Appointment block content here -->
{% endblock %}
